{% extends 'app.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<div class="side-bar">

   <div id="close-btn">
      <i class="fas fa-times"></i>
   </div>

  <div class="profile">
      <img src="https://cdn3.vectorstock.com/i/1000x1000/75/97/study-icon-male-student-person-profile-avatar-vector-25957597.jpg" class="image" alt="">
      {% if user %}
        <p>user information</p>
        <ul>
            <li>Name : {{ user[1] }}</li>
            <li>Email : {{ user[2] }}</li>
        </ul>
        <a href="/logout" class="btn btn-dark">Logout</a>
    {% endif %}
   </div>

   <nav class="navbar">
      <a href="\dashboard"><i class="fas fa-home"></i><span>Home</span></a><br>
      <a href="\about"><i class="fas fa-question"></i><span>About</span></a>
      <a href="\courses"><i class="fas fa-graduation-cap"></i><span>Courses</span></a>
      <a href="\contact"><i class="fas fa-headset"></i><span>Contact us</span></a>
   </nav>

</div>





      <section class="courses">

   <h1 class="heading">our courses</h1>

   <div class="box-container">

      <div class="box">
         <div class="tutor">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Python_logo_01.svg/800px-Python_logo_01.svg.png" alt="">
            <div class="info">
               <h3>Python</h3>
                <h4>$100</h4>
            </div>
         </div>
         <div class="thumb">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Python_logo_01.svg/800px-Python_logo_01.svg.png" alt="">

         </div>
         <h3 class="title">Complete Python tutorial</h3>
         <a href="\charge" class="inline-btn">Subscribe</a>
      </div>

      <div class="box">
         <div class="tutor">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/1200px-Java_programming_language_logo.svg.png" alt="">
            <div class="info">
               <h3>Java</h3>
<h4>$100</h4>
            </div>
         </div>
         <div class="thumb">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/1200px-Java_programming_language_logo.svg.png" alt="">

         </div>
         <h3 class="title">Complete Java tutorial</h3>
         <a href="\charge" class="inline-btn">Subscribe</a>
      </div>

      <div class="box">
         <div class="tutor">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/768px-HTML5_logo_and_wordmark.svg.png" alt="">
            <div class="info">
               <h3>HTML</h3>
<h4>$100</h4>
            </div>
         </div>
         <div class="thumb">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/768px-HTML5_logo_and_wordmark.svg.png" alt="">

         </div>
         <h3 class="title">Complete HTML tutorial</h3>
         <a href="\charge" class="inline-btn">Subscribe</a>

      </div>
   </div>
<p>

</p>
<div class="box-container">

      <div class="box">
         <div class="tutor">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Python_logo_01.svg/800px-Python_logo_01.svg.png" alt="">
            <div class="info">
               <h3>js</h3>
                <h4>$200</h4>
            </div>
         </div>
         <div class="thumb">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Python_logo_01.svg/800px-Python_logo_01.svg.png" alt="">

         </div>
         <h3 class="title">Complete js tutorial</h3>
         <a href="\charge" class="inline-btn">Subscribe</a>
      </div>

</section>

{% endblock %}